.add-new-card-container {
  display: flex;
  align-items: start;
  padding: 1rem;

  .add-new-card-btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #05b4ee;
    cursor: pointer;
    border: none;
  }
}