.add-new-card-container {
    display: flex;
    align-items: start;
    padding: 1rem;
}

.add-new-card-input {
    background: white;
    width: 200px;
    padding: 1rem;
    margin-right: 10px;
}

.add-new-card-btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #05b4ee;
    cursor: pointer;
    border: none;
}