.new-task {
    display: flex;
}

.card-container {
    margin-right: 1rem;
    padding: 1rem;
    background: #d9def9;
    width: 250px;
}

.card-title {
    font-weight: bold;
}

.card-dlt-button {
    margin-top: 1rem;
    background: transparent;
    border: solid 1px red;
    cursor: pointer;
}

.card-tasks-container {
    margin-top: 1rem;
}